
    <h2>NY CITY DATA</h2>
    <input (click)="getData()"type="submit" value="Directory"/>
    <ul *ngIf="data">
        <li *ngFor="let datum of data"><h3>{{datum.agency_name}}</h3>
        <h3>{{datum.category_description}}</h3>
        <h3>{{datum.ShortTitle}}</h3>
        <h3>{{datum.vendor_address}}</h3></li>
        
        
        </ul>
      
  