<body background="https://lonelyplanetimages.imgix.net/mastheads/GettyImages-538096543_medium.jpg?sharp=10&vib=20&w=1200">
        <h1>CITY BOOK</h1>
        <h3>Existing Users</h3>
        <table class="table" *ngFor="let user of users">
           <thead>
              <tr>
                <th style="color: #ff6666"   bgcolor="#7fffd4">{{user.id}} USER-ATTRIBUTE <a (click)="deleteUser(user.id)">X</a></th>
                <th style="color: #ff6666"  bgcolor="#7fffd4">VALUE</th>
               </tr>
          </thead>
          <tbody color="red" >
             <tr bgcolor="#004F00">
                <td>USER_NAME</td>
                <td>{{user.userName}}</td>
            </tr>
            <tr bgcolor="#004F00">
                <td>FIRST_NAME</td>
                <td>{{user.firstName}}</td>
             </tr>
             <tr bgcolor="#004F00">
                <td>LAST_NAME</td>
                <td>{{user.lastName}}</td>
             </tr>
          </tbody>
        </table>
        <app-singleuser *ngFor="let user of users" [user]='user'></app-singleuser>
        <div class="col-md-6" style="background-color: cornsilk">
            <div id="chart" height="500px">
            </div>
          
            <h2>Adding New User...</h2>
            <input type="text" [(ngModel)] = "object_user.userName" placeholder="UserName" required>
            <input type="text" [(ngModel)] = "object_user.firstName" placeholder="firstName" required>
            <input type="text" [(ngModel)] = "object_user.lastName" placeholder="lastName" required>
            <button class="btn  btn-outline-primary" (click)="addUser()">ADD</button>
            
          </div>
</body>